@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Work Sans", sans-serif;
  }

.home .content h1, .home .content p, .home .content a {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.home img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Adjust the opacity as needed */
    z-index: 1;
}



#login {
    height: 100vh;
    width: 100%;
    background-size: cover;
}


.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 30px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
}

.error-message {
    color: red;
    font-size: 14px;
}



section {
    padding: 100px 200px;
}
.card-img-top {
  height: 200px; /* Adjust based on your design */
  width: 100%; /* Makes image responsive */
  object-fit: contain; /* Cover ensures the image covers the area without stretching. */
}
.card-body {
  height: auto; /* Ensures uniform card body height */
  overflow: auto; /* Adds scrollbar to card body if text overflows */
}
.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p {
    margin-bottom: 65px;
}

.home .content a {
    background: #fff;
    padding: 15px 35px;
    color: #09a6d4;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .content a:hover {
    background: #09a6d4;
    color: #fff;
}


.home img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
    background: #09a6d4;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

.img-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
}
.section-bg {
    background-color: #f5f6f7;
  }
  .section-header h2:before,
.section-header h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--color-primary);
  display: inline-block;
}

.get-started .content {
    padding: 30px 0;
  }
  
  .get-started .content h3 {
    font-size: 36px;
    color: var(--color-secondary);
    font-weight: 600;
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
  }
  
  .get-started .content h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 4px;
    background: var(--color-primary);
    left: 0;
    bottom: 0;
  }
  
  .get-started .content p {
    font-size: 14px;
  }
  
  .get-started .email-form {
    background: #fff;
    padding: 30px;
    height: 100%;
  }
  
  @media (max-width: 575px) {
    .get-started .email-form {
      padding: 20px;
    }
  }
  
  .get-started .email-form h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .get-started .email-form p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .get-started .email-form .error-message {
    display: none;
    color: #fff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .get-started .email-form .sent-message {
    display: none;
    color: #fff;
    background: #059652;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .get-started .email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
  }
  
  .get-started .email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #059652;
    border-top-color: #fff;
    animation: animate-loading 1s linear infinite;
  }
  
  .get-started .email-form input,
  .get-started .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
  }
  
  .get-started .email-form input:focus,
  .get-started .email-form textarea:focus {
    border-color: var(--color-primary);
  }
  
  .get-started .email-form input {
    padding: 12px 15px;
  }
  
  .get-started .email-form textarea {
    padding: 12px 15px;
  }
  
  .get-started .email-form button[type=submit] {

    border: 0;
    padding: 10px 30px;
    color: #420c0c;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .get-started .email-form button[type=submit]:hover {
    background: rgba(104, 89, 48, 0.8);
  }

  .services .service-item {
    padding: 40px;
    background: #fff;
    height: 100%;
  }
  
  .services .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 50px;
  }
  
  .services .service-item .icon i {
    color: var(--color-secondary);
    font-size: 40px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
    line-height: 1.8;
  }
  
  .services .service-item .icon:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #f0f1f2;
    border-radius: 50px;
    z-index: 1;
    top: 10px;
    right: -15px;
    transition: 0.3s;
  }
  
  .services .service-item h3 {
    color: var(--color-default);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #ebebed;
    transition: 0.3s;
  }
  
  .services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .service-item .readmore {
    margin-top: 15px;
    display: inline-block;
    color: var(--color-primary);
  }
  
  .services .service-item:hover .icon:before {
    background: var(--color-primary);
  }
  
  .services .service-item:hover h3 {
    border-color: var(--color-primary);
  }

  .section-header {
    text-align: center;
    padding-bottom: 70px;
  }
  
  .section-header h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    color: #2e3135;
  }
  
  .section-header h2:before,
  .section-header h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--color-primary);
    display: inline-block;
  }
  
  .section-header h2:before {
    margin: 0 15px 10px 0;
  }
  
  .section-header h2:after {
    margin: 0 0 10px 15px;
  }
  
  .section-header p {
    margin: 0 auto 0 auto;
  }
  
  @media (min-width: 1199px) {
    .section-header p {
      max-width: 60%;
    }
  }
  .hero-section .headline {
    font-size: 2.5rem;
    font-weight: bold
  }
  
  .hero-section .subheadline {
    font-size: 1.25rem
  }
  
  .hero-quotes .quote {
    position: relative;
    border-left: 4px solid #f5a782;
    font-style: italic
  }
  
  .hero-quotes .quote:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f6f8fc;
    position: absolute;
    bottom: -10px;
    margin-left: -10px;
    left: 2rem
  }
  
  .hero-quotes .source {
    vertical-align: middle;
    color: #6f75a7;
    font-size: 0.875rem
  }
  
  .hero-quotes .source-profile {
    width: 60px;
    height: 60px
  }
  
  .hero-quotes .carousel-indicators {
    bottom: -4rem
  }
  
  .hero-quotes .carousel-indicators button {
    border: none;
    background-color: #4c527d;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px
  }
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
  }
  
  .carousel-inner::after {
    display: block;
    clear: both;
    content: ""
  }.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none
  }
}
.card-img-top {
  max-height: 200px; /* Limit image height */
  object-fit: cover; /* Ensure images cover the area without distorting aspect ratio */
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-text {
  flex-grow: 1; /* Ensure description takes available space, pushing buttons to the bottom */
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  -webkit-transform: translateX(100%);
  transform: translateX(100%)
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transform: none;
  transform: none
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s .6s
}

@media (prefers-reduced-motion: reduce) {

  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: none
  }
}